{% extends 'shared/_layout.html' %}
{% block title %}ارتباط با سوفیا دارایی{% endblock %}

{% block content %}
<body>
<section class="flat-spacing-9" dir="ltr">
    <div class="container">
        <div class="tf-grid-layout gap-0 lg-col-2">

            <!-- نقشه گوگل -->
            <div class="w-100">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d317859.6089702069!2d-0.075949!3d51.508112!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48760349331f38dd%3A0xa8bf49dde1d56467!2sTower%20of%20London!5e0!3m2!1sen!2sus!4v1719221598456!5m2!1sen!2sus" width="100%" height="894" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <!-- اطلاعات تماس -->
            <div class="tf-content-left has-mt">
                <div class="sticky-top">
                    <h5 class="mb_20">بازدید از کلینیک ما</h5>

                    <div class="mb_20">
                        <p class="mb_15"><strong>آدرس</strong></p>
                        <p>خیابان مثال، تهران، ایران</p>
                    </div>

                    <div class="mb_20">
                        <p class="mb_15"><strong>تلفن</strong></p>
                        <p>(+98) 912 000 0000</p>
                    </div>

                    <div class="mb_20">
                        <p class="mb_15"><strong>ایمیل</strong></p>
                        <p>info@example.com</p>
                    </div>

                    <div class="mb_36">
                        <p class="mb_15"><strong>ساعات کاری</strong></p>
                        <p class="mb_15">هر روز از ساعت ۱۱ صبح تا ۷ عصر</p>
                    </div>

                    <!-- شبکه های اجتماعی -->
                    <div>
                   <ul class="tf-social-icon d-flex gap-20 style-default">
    <!-- WhatsApp -->
    <li>
        <a href="https://wa.me/989120000000" target="_blank"
           class="box-icon link round social-whatsapp border-line-black">
            <i class="fab fa-whatsapp fs-14"></i>
        </a>
    </li>

    <!-- Telegram -->
    <li>
        <a href="https://t.me/YourTelegramUsername" target="_blank"
           class="box-icon link round social-telegram border-line-black">
            <i class="fab fa-telegram-plane fs-14"></i>
        </a>
    </li>

    <!-- Instagram -->
    <li>
        <a href="https://instagram.com/YourInstagramUsername" target="_blank"
           class="box-icon link round social-instagram border-line-black">
            <i class="fab fa-instagram fs-14"></i>
        </a>
    </li>
</ul>

                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}
